.fondo1{
	background-color:#E6E6E6;
	height: 1400px;
}
.fondo2{
	background-color:gray;
	height: 400px;
}

/*Paddings*/
.pd-5{
	padding: 5%;
}
.pdt-5{
	padding-top: 10%;
}
.pd-1{
	padding: 1%;
}
.pdlr-5{
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
}
.pdlr-blog{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
.pdlr{
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
}
.pdl-1{
	padding-left: 1%;
}
.pdt-10{
	padding-top: 10px;
}
.pdb-10{
	padding-bottom: 5%;
}
.blog-img{
	width: 250px;
	height: 300px;
}
.btn1{
	height: 50px;
	width: 100px;
	background-color: #0A0A2A;
	color:white;
	padding: 12px;
	margin-top: 20px;
}